<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tuthanika.rolify.plus">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />





  <application 
      android:label="ATP Rolify" 
      android:name="${applicationName}" 
      android:icon="@mipmap/launcher_icon"
      android:requestLegacyExternalStorage="true">

    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name="com.ryanheise.audioservice.AudioService" 
             android:foregroundServiceType="mediaPlayback"
             android:exported="true">

      <intent-filter>
        <action android:name="android.media.browse.MediaBrowserService" />
      </intent-filter>
    </service>

    <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <!-- Widget Definitions -->
    <receiver android:name=".widget.AllSoundWidget" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
    </receiver>

    <receiver android:name=".widget.PlaylistWidget" android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/preset_widget_info" />
    </receiver>

    <service android:name=".widget.AllSoundWidgetListService"
             android:permission="android.permission.BIND_REMOTEVIEWS"
             android:exported="false" />

    <service android:name=".widget.PlaylistWidgetListService"
             android:permission="android.permission.BIND_REMOTEVIEWS"
             android:exported="false" />

    <receiver android:name=".widget.WidgetActionReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.tuthanika.rolify.plus.widget.ACTION_PLAY_PAUSE" />
        <action android:name="com.tuthanika.rolify.plus.widget.ACTION_STOP_ALL" />
        <action android:name="com.tuthanika.rolify.plus.widget.ACTION_TOGGLE_AUDIO" />
        <action android:name="com.tuthanika.rolify.plus.widget.playlist.ACTION_PLAY_PAUSE" />
        <action android:name="com.tuthanika.rolify.plus.widget.ACTION_STOP_ALL" />
        <action android:name="com.tuthanika.rolify.plus.widget.playlist.ACTION_TOGGLE_PLAYLIST" />

        <action android:name="com.tuthanika.rolify.plus.widget.ACTION_CYCLE_VOLUME" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>


    </receiver>

    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="flutterEmbedding" android:value="2" />

    <!-- Disable Impeller to fix crashes on legacy Adreno 3xx GPUs -->
    <meta-data
        android:name="io.flutter.embedding.android.EnableImpeller"
        android:value="false" />
  </application>
</manifest>
